<h1 style="color:blue;">Listing books</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Available</th>
      <th>Name</th>
      <th>Author</th>
      <th>Borrower</th>
      <th>Available</th>
      <th>Checkout date</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td>
          <% if book.available? %>
            <span class="glyphicon glyphicon-barcode"></span>
          <% end %>
        </td>
        <td><%= book.name %></td>
        <td><%= book.author %></td>
        <td><%= book.borrower %></td>
        <td><%= book.available %></td>
        <td><%= book.checkout_date %></td>
        <td><%= link_to 'Show', book %></td>
        <td><%= link_to 'Edit', edit_book_path(book) %></td>
        <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td>
          <% if book.available? %>
            <%=link_to 'Check out', '#', data: { object: 'checkout', book_id: book.id } %>
          <% else %>
            <%=link_to 'Check-in', checkin_book_path(book), method: :post, data: { confirm: 'Are you sure you want to check-in this book?'} %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Book', new_book_path, class: 'btn btn-primary' %>

<!-- Modal -->
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Book Checkout</h4>
      </div>
      <div class="modal-body">
        <%= form_tag checkout_books_path, method: :post, id: 'checkout-form' do %>
          <%= hidden_field_tag 'book_id' %>
          <div class="field">
            <label for="book_borrower">Borrower</label>
            <%= text_field_tag 'borrower' %>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= link_to 'Checkout', '#', data: { object: 'perform-checkout' }, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>
